<div id="profile-tabs">
  <ul>
    <%# not sure if this is the right method to use to show links if the user is editing their own profile  %>
    <% if user_signed_in? %>
    <li><a href="#basic-info">Basic Information</a></li>
    <li><a href="#links">Links</a></li>
    <% end %>
    <li><a href="#skills">Skills</a></li>
    <li><a href="#projects">Projects</a></li>
    <li><a href="#education">Education</a></li>
    <li><a href="#experience">Experience</a></li>
  </ul>
  <div id="basic-info">
    <%= render "form" %>
  </div>
  <div id="links">
    <% if @profile.links %>
    <div class="col-sm-9">
      <p><%= @profile.links.linkedin_url%></p>
    </div>
    <div class="col-sm-3">
      <p><%= link_to "Edit Link", edit_profile_link_path(@profile, @profile.links) %></p>
    </div>
    <div class="col-sm-9">
      <p><%= @profile.links.twitter_url%></p>
    </div>
    <div class="col-sm-3">
      <p><%= link_to "Edit Link", edit_profile_link_path(@profile, @profile.links) %></p>
    </div>
    <div class="col-sm-9">
      <p><%= @profile.links.github_url%></p>
    </div>
    <div class="col-sm-3">
      <p><%= link_to "Edit Link", edit_profile_link_path(@profile, @profile.links) %></p>
    </div>
    <% end %>
  </div>
  <div id="skills">
    <% @profile.skills.each do |skill| %>
      <p><%= skill.name %>: <%= skill.proficiency(@profile) %></p>
      <% if user_signed_in? %>
        <%= link_to "Edit", edit_profile_skill_path(@profile, skill) %>
        <%= link_to "Delete", profile_skill_path(@profile, skill), method: :delete, data: {confirm: "Are you sure?"} %>
      <% end %>
    <% end %>
  </div>
  <div id="projects">
    <% @profile.projects.each do |project| %>
      <div class="col-sm-9">
        <p><%= project.title %></p>
        <p><%= project.description %></p>
      </div>
      <div class="col-sm-3">
        <p><%= link_to project.project_url %></p>
        <p><%= link_to project.github_url %></p>
        <% if user_signed_in? %>
          <%= link_to "Edit", edit_profile_project_path(@profile, project) %>
          <%= link_to "Delete", profile_project_path(@profile, project), method: :delete, data: {confirm: "Are you sure?"} %>
        <% end %>
      </div>
      <hr>
    <% end %>
  </div>
  <div id="education">
    <% @profile.educations.each do |education| %>
      <div class="col-sm-9">
        <div class="logo-thumb">
          <%#= image_tag education.image.url(:logo_thumb) %>
        </div>
        <p><%= education.school %></p>
        <p><%= education.degree %></p>
        <p><%= education.description %></p>
      </div>
      <div class="col-sm-3">
        <p><%= link_to education.school_url %></p>
        <% if user_signed_in? %>
          <%= link_to "Edit", edit_profile_education_path(@profile, education) %>
          <%= link_to "Delete", profile_education_path(@profile, education), method: :delete, data: {confirm: "Are you sure?"} %>
        <% end %>
      </div>
      <hr>
    <% end %>
  </div>
  <div id="experience">
    <% @profile.experiences.each do |experience| %>
      <div class="col-sm-12">
        <div class="logo-thumb">
          <%#= image_tag experience.image.url(:logo_thumb) %>
        </div>
        <p><%= experience.job_title %> at <%= link_to "#{experience.company_name}", experience.company_url%></p>
        <p>From: <%= experience.from_date %> to: <%= experience.to_date %></p>
        <p><%= experience.description %></p>
        <% if user_signed_in? %>
          <%= link_to "Edit", edit_profile_experience_path(@profile, experience) %>
          <%= link_to "Delete", profile_experience_path(@profile, experience), method: :delete, data: {confirm: "Are you sure?"} %>
        <% end %>
      </div>
      <hr>
    <% end %>
  </div>
</div>
