<h1>Edit Profile</h1>

<h2>Basic Information</h2>
<%= render "form" %>

<h2>Projects</h2>
<%= render "/projects/display_projects" %>
<hr>
<%= render "/projects/form" %>

<h2>Education</h2>
<%= render "/educations/display_education" %>
<hr>
<%= render "/educations/form" %>

<h2>Experience</h2>
<%= render "/experiences/display_experiences" %>
<hr>
<%= render "/experiences/form" %>

<h2>Skills</h2>
<%= render "/skills/display_skills" %>
<hr>
<%= render "/skills/form" %>
