<h1 class="page-headline">CoreConnection&trade;</h1>
<div id="home-buttons">
  <div class="col-sm-6 text-center">
    <%= link_to "Available Students", root_path(available: true), class: "index-students"%>
  </div>
  <div class="col-sm-6 text-center">
    <%= link_to "All Students", root_path, class: "index-students" %>
  </div>
</div>
<div id="profiles">
 <% @profiles.each do |profile| %>
  <div class="col-xs-12 col-sm-6 col-md-3 text-center">
    <% if profile.photo %>
      <p><%= image_tag profile.photo.url %></p>
    <% end %>
    <p><%= profile.tagline %></p>
    <p><%= link_to "View Profile", profile_path(profile), class: "btn btn-primary" %></p>
  </div>
 <% end %>
</div>
