<h1> Contact <%=Profile.find(@profile).user.full_name%></h1>

<%= form_tag('/contacts', class: 'form-horizontal') do %>
  <%= hidden_field_tag :profile_id, @profile%>
  <%= label_tag :name, "Name", class: "control-label" %>
  <%= text_field_tag :name, "", class: "form-control" %>
  <%= label_tag :email, "Email", class: "control-label" %>
  <%= email_field_tag :email," ", class: "form-control" %>
  <%= label_tag :message, "Message", class: "control-label" %>
  <%= text_area_tag :message, "", rows: 6, class: "form-control" %>
  <%= submit_tag "Submit", class: "btn btn-primary" %>

<% end %>
