<div class="col-sm-12">
  <% @profile.experiences.each do |experience| %>
    <div class="col-sm-12">
      <% if experience.image %>
        <div class="logo-thumb">
          <%= image_tag experience.image.url(:logo_thumb) %>
        </div>
      <% end %>
      <p><%= experience.job_title %> at <%= link_to "#{experience.company_name}", experience.company_url%></p>
      <p>From: <%= experience.from_date %> to: <%= experience.to_date %></p>
      <p><%= experience.description %></p>
      <% if can? :manage, @profile %>
        <%= link_to "Edit", edit_profile_experience_path(@profile, experience) %>
        <%= link_to "Delete", profile_experience_path(@profile, experience), method: :delete, data: {confirm: "Are you sure?"} %>
      <% end %>
    </div>
    <hr>
  <% end %>
</div>
