<% if @experience %>
<ul>
  <% @experience.errors.full_messages.each do |message| %>
    <li><%= message %></li>
  <% end %>
</ul>
<% end %>

<%= form_for [@profile, @experience] do |f| %>
  <div class="form-group">
    <%= f.label :job_title %>
    <%= f.text_field :job_title, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :company_name %>
    <%= f.text_field :company_name, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :company_url, "Company Website" %>
    <%= f.text_field :company_url, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :description %>
    <%= f.text_area :description, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :from_date %>
    <%= f.date_field :from_date, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :to_date %>
    <%= f.date_field :to_date, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :image %>
    <%= f.file_field :image, multiple: true %>
    <small>JPG, JPEG, GIF, PNG only.</small>
  </div>
  <%= f.submit class: "btn btn-primary" %>
<% end %>
